

.container_hero1{
    text-align: center;
    height: 100vh;
    position: relative;
    margin-top: 100px;
    overflow: hidden;
}
.h1_easy{
    font-size: 60px;
    font-weight: 500; 
}
button{
    margin-top: 30px;
}