.hero1{
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-weight: bold

}

/* Creating a flexbox container for the h4 element. */
h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 20px;
}

.hero_1_cta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}

/* The CSS code for the button in the hero1 section. */
.button_hero1{
    padding: 9px 25px;
    background-color: var(--color-bg-2);
    border: none;
    color: white;
    height: 55px;
    border-radius: 15px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: bold;
}
.button_hero1:hover{
    background-color: var(--color-bg-2-hover);

}