

header {
    box-sizing: border-box;
    background-color: white;
}

li,a, button{
    font-weight: 500;
    font-size: 17px;
    color: black;
    text-decoration: none;
}
header{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}
.container_header{
    margin-left: 350px;
}
.logo{
    cursor: pointer;
}
.nav_links{
list-style: none;

}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    transition: var(--transition);
}

.nav_links li a:hover{
    color: var(--color-bg-2);
}
.button_nav {
    padding: 9px 25px;
    background-color: var(--color-bg-2);
    border: none;
    color: white;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: bold;

}

.button_nav:hover{
    background-color: var(--color-bg-2-hover);
}

.menu_icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

/* Media Query */

@media only screen and (max-width: 850px) {

    .menu_icon{
        display: block;
        
}

    .nav_links {
        width: 100%;
        background: white;
        position: absolute;
        top: -400px;
        right: 0;
        z-index: 2;
    }
    
    
    .nav_links li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 250px;
    }
    .nav_links li a{
        color: black;
        transition: var(--transition);
    }
    .nav_links li a:hover{
        color: var(--color-bg-2);
    }
    .button_nav{
        margin-left: 250px;

    }

}